# git repertory project configuration
# export GIT_SSL_NO_VERIFY=1
[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	symlinks = true
	ignorecase = false
	autocrlf = false
	safecrlf = warn
[http]
	sslVerify = false
[user]
	name = SamadhiFly
	email = lsgx@live.com
[remote "origin"]
	url = https://110.42.96.64:21891/jjx/quectel-rgmii-toolkit.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[remote "upstream"]
	url = https://github.com/iamromulan/quectel-rgmii-toolkit.git
	fetch = +refs/heads/*:refs/remotes/upstream/*
[remote "github"]
	url = https://github.com/SamadhiFly/quectel-rgmii-toolkit.git
	fetch = +refs/heads/*:refs/remotes/github/*
[branch "SDXLEMUR"]
	remote = origin
	merge = refs/heads/SDXLEMUR
[branch "Development"]
	remote = origin
	merge = refs/heads/Development
